<% form_id = "drill-form-#{rand(1e8)}" %>
<% form_tag({:action=>nil},{:id=>form_id}) do%>
  <%= hidden_field_tag 'form_id', form_id %>
  <p id="ajaxloader" style="display:none"><%= image_tag 'loading.gif' %></p>
  <table>
    <%@calculation.inputs.visible.each do |input|%>
      <tr>
        <% if input.drop_down? %>

          <td><%=label :entry,input.label,input.name%></td>
          <td>
            <%= select_tag "entry[#{input.label}]",
              options_for_select(input.options_for_select,input.set? ? input.value : nil),:disabled=>input.disabled?%>
          </td>
        <%else%>
          <td><%=label :entry,input.label,input.name%></td>
          <td><%= text_field "entry[#{input.label}]", 'value',"size" => 20,:value => input.value,:disabled=>input.disabled? %></td>
          <% unless input.default_unit.nil? %>
            <td><%= collection_select("entry[#{input.label}]",
                                      'unit', input.alternative_units,
                                      :label,
                                      :pluralized_name,
                                      :selected => input.unit.label ) %>
            </td>
          <% end %>
          <% unless input.default_per_unit.nil? %>
            <td>per</td>
            <td><%= collection_select("entry[#{input.label}]", 
                                      'per_unit',
                                      input.alternative_per_units,
                                      :label,
                                      :name,
                                      :selected => input.per_unit.label ) %>
            </td>
          <% end %>
        <%end%>
        <td><% if input.compulsory? %><span class="compulsory-input">*</span> <%end%></td>
      </tr>
    <%end%>
    <%@calculation.outputs.visible.each do |result|%>
      <tr>
        <td><%=label :entry,result.label,result.name%></td>
        <%value = (result.value.nil? ? "" : "#{result.value}")%>
        <%unit = (result.unit.nil? || value.empty? ? "" : " #{result.unit.symbol}")%>
        <%per_unit = (result.per_unit.nil? || value.empty? ? "" : " / #{result.per_unit.symbol}")%>
        <td><%=value+unit+per_unit%></td>
      </tr>
    <%end%>
  </table>
  <%= hidden_field_tag 'entry[profile_item_uid]', @calculation.send(:profile_item_uid) %>
<%end%>
<%= observe_form form_id, :before=> "$('#ajaxloader').show()", :url => {:action => 'result'}%>
<% javascript_tag do %>
  $('#<%=form_id%>').submit(function() {
  return false;
  });
<%end%>