<% form_id = "drill-form-#{rand(1e8)}" %>
<% form_tag({:action=>nil},{:id=>form_id}) do%>
  <%= hidden_field_tag 'form_id', form_id %>
  
  <table>
    <%@calculation.inputs.visible.each do |input|%>
      <tr>
        <% if input.drop_down? %>

          <td><%=label :entry,input.label,input.name%></td>
          <td>
            <%= select_tag "entry[#{input.label}]",
              options_for_select(input.options_for_select,input.set? ? input.value : nil),:disabled=>input.disabled?%>
          </td>

        <%else%>
          <td><%=label :entry,input.label,input.name%></td><td><%= text_field :entry, input.label, "size" => 20, :value => input.value,:disabled=>input.disabled? %></td>
        <%end%>
          <td><% if input.compulsory? %><span class="compulsory-input">*</span> <%end%></td>
      </tr>
    <%end%>
    <%@calculation.outputs.visible.each do |result|%>
      <tr><td><%=label :entry,result.label,result.name%></td><td><%= result.value %></td></tr>
    <%end%>
  </table>
  <%= hidden_field_tag 'entry[profile_item_uid]', @calculation.send(:profile_item_uid) %>
<%end%>
<%= observe_form form_id, :url => {:action => 'result'}%>
<% javascript_tag do %>
  $('#<%=form_id%>').submit(function() {
  return false;
  });
<%end%>